<div class="content">
  <div class="content-body">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="panel" data-fill-color="true">
	        <div class="panel-heading">
	          <h3 class="panel-title"><i class="icon-note fa-fw"></i> New Transaction</h3>
	        </div><!-- /panel-heading -->
					<%= render 'form', transaction_history: @transaction_history %>
	      </div><!-- /panel-basicform -->
	    </div><!-- /.cols -->
	  </div><!-- /.row -->
	</div><!-- /.content-body -->
</div><!-- /.content -->