
<!-- ============================================
FOOTER SECTION
=============================================== -->
<footer class="footer-wrapper" role="contentinfo">
  <div class="footer">
    <div>&copy; <%=Time.now.year%> Krishna Vyas</div>
  </div>
</footer><!-- /.FOOTER -->
