<p>Hi <%= @resource.fname %>,</p>

<p>Don't worry that you can't remember your password. We have you covered.</p>

<p>Your user name is: <%= @resource.email %>. <%= link_to 'Click this link', edit_password_url(@resource, reset_password_token: @token) %> to reset your password.</p>

<p>Thank you,</p>
<p>The ROVR Team</p>

